


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 30px;
    flex-wrap: wrap;
}


.header {
    text-align: center;
}